h1 {
    text-align: center;
  }
  
 li{
    font-size: 24px;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
  }
  
  form {
    display: inline-block
  }
  
  div.add-burger {
    text-align: center;
  }
  
  #bur {
    width: 20em;
  }

  .jumbotron{
    text-align: center;
  }